{% extends 'base.html.twig' %}
{% block title %}- Reset your password{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center">
                <a href="../index.html">
                </a>
                <span class="splash-description">Please enter your user email.</span>
            </div>
            <div class="card-body">
                {% form_theme requestForm 'form/fields.html.twig' %}
                {{ form_start(requestForm) }}
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    {{ form_row(requestForm.email) }}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Reset password</button>
                {{ form_end(requestForm) }}
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="{{ path('app_login') }}" class="footer-link">Log in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}